html,
body {
  font-family: Yanone Kaffeesatz, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: white;
}

header {
  height: 31rem;
  padding-top: 1rem;
  background-color: #F9CDAE;
}

header img {
  width: 22rem;
  display: block;
  margin: auto;
  margin-top: 2.5rem;
}

nav {
  background-color: #F69A9A;
  color: White;
  max-width: 960px;
  margin: 0 auto;
  font-family: Lobster;
  font-size: 1.3rem;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

nav li {
  display: inline-block;
  padding: 0.6rem 1.25rem;
  color: white;
}

nav li:hover {
  color: blue;
}

.about {
  background-color: #F69A9A;
  padding: 2rem 0;
  line-height: 2.5;
  font-size: 1.2rem;
}

.about img {
  width: 20rem;
}

.services {
  background-color: #F69A9A;
  line-height: 1.5;
  font-size: 1.1rem;
}

.services img {
  padding-top: 2rem;
  width: 100%;
}

.break {
  background-color: #F69A9A;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.break li {
  color: white;
  margin: 0;
  list-style: none;
}

.break li:hover {
  color: blue;
}

.break a {
  text-decoration: none;
}

.prices {
  background-color: #F69A9A;
  line-height: 2;
  font-size: 1.2rem;
}

.prices ul {
  margin: 0;
}

.contact {
  background-color: #F9CDAE;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.contact a {
  color: white;
  padding: 1rem;
}

/* Parralax */

.background1 {
  background-image: url(../images/essential-oils.jpg);
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  color: white;
  opacity:0.8;
  margin: 0;
}

.background2 {
  background-image: url(../images/massage.jpg);
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  color: white;
  opacity:0.8;
  margin: 0;
}

/* Universal */

h1 {
  font-size: 6rem;
  font-family: Lobster;
}

h2 {
  font-size: 4rem;
  font-family: Lobster;
}

h3 {
  font-size: 2rem;
  font-family: Lobster;
}

/* Media queries */

@media only screen and (max-width: 960px) {
  header {
    padding-top: 0;
  }
}

@media only screen and (max-width: 767px) {
    .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .services img {
    padding-top: 0;
  }
  .flex-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .background1 {
  background-attachment: scroll;
  }
    .background2 {
    background-attachment: scroll;
  }
}



@media only screen and (max-width: 470px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav a {
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
  }
  header img {
    width: 15rem;
    margin-top: 2.5rem;
  }
}
